body {
    display: flex;
    flex-wrap: wrap;
}
.wrap_main {
    display: flex;
    width: 150px;
    height: 300px;
    border: 2px solid black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background: rebeccapurple;
    color: gold;
}