/*.buttonfirst {*/
/*    width: 100px;*/
/*    height: 20px;*/
/*    background: cornflowerblue;*/
/*    margin: 5px;*/
/*}*/

.butt {
    width: 100px;
    height: 20px;
    background: cornflowerblue;
    margin: 5px;
}